<template>
  <div class="about mt-6 mb-6">
        <h1 class="display-4">Задания</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 id="fiol" class="card-title">Задание</h5>
                <p class="card-text">Пройти 10 километров</p>
                                <p class="lead">Награда:</p>
                <a href="#" class="btn btn-primary">Принять задание</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 id="fiol" class="card-title">Задание</h5>
                <p class="card-text">Пробежать марафон и привлечь к нему людей</p>
                <p class="lead">Награда:</p>
                <a href="#" class="btn btn-primary">Принять задание</a>
              </div>
            </div>
          </div>
                    <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 id="fiol" class="card-title">Задание</h5>
                <p class="card-text">Пробежать 2 марафона</p>
                                <p class="lead">Награда:</p>
                <a href="#" class="btn btn-primary">Принять задание</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 id="fiol" class="card-title">Задание</h5>
                <p class="card-text">Присутствие на 2-ух мероприятиях</p>
                <p class="lead">Награда:</p>
                <a href="#" class="btn btn-primary">Принять задание</a>
              </div>
            </div>
          </div>
                    <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 id="fiol" class="card-title">Задание</h5>
                <p class="card-text">Набрать 70000 шагов за неделю</p>
                                <p class="lead">Награда:</p>
                <a href="#" class="btn btn-primary">Принять задание</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 id="fiol" class="card-title">Задание</h5>
                <p class="card-text">Пробежать марафон и привлечь к нему людей</p>
                <p class="lead">Награда:</p>
                <a href="#" class="btn btn-primary">Принять задание</a>
              </div>
            </div>
          </div>
        </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      
    }
  },

}
</script>
<style scoped>
.container {
  border-radius: 15px;
  min-height: 400px;
}
#fiol{
  color:blueviolet;
}
a{
  background-color: rgb(75, 21, 124);
  }
  a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(75, 21, 124);
    border-radius: 8px;
  }
</style>