<template>
  <div class="home">
      <div class="row">
        <div class="col-sm-5" style="">
          <div class="container" >
              <div class="card-body" ><img id="cardimg1" class="shadow  img-thumbnail" style="height: 300px; width: 300px; " src="../assets/info1.jpg" alt=""></div>
          </div>
        </div>
        <div class="col-sm-7  d-flex align-items-center" >
          <div class="container  text-left shadow" id="textcard" style="padding: 20px;">
            <h3>Учавствуй и проводи мероприятие для оздоровления тела и духа. Будь в центре внимания новых мероприятий и зарабатывай баллы.</h3>
          </div>
        </div>
        <div class="col-sm-7 d-flex align-items-center">
          <div id="textcard" class="container shadow text-left">
            <h3 style="padding: 15px" >Покупай за баллы купоны, скидки, подарочные сертификаты и многое другое</h3>
          </div>
        </div>
        <div class="col-sm-5 " style="">
          <div class="container" >
              <div class="card-body"><img id="cardimg" class="shadow img-thumbnail" style="height: 300px; width: 300px;" src="../assets/info2.png" alt=""></div>
          </div>
        </div>
        <div id="infoblock">
        </div>
      </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      checkAdd: false,
      aId: 5,
      aTitle: '',
      aDescription: '',
      products: [
        { id: 1, title: 'Абрам', description: 'бла блаsdfsdfsdfwefwefewsdfsdffsdfsdwqeqw e qwe qweqw fsdfsdfsdfsdf бла', autor: 'Толстой Л.В' },
        { id: 2, title: 'Жил был..', description: 'бла fsdfsdfsdfsdf бла', autor: 'Толстой Л.В' },
        { id: 3, title: 'Роман', description: 'бла бла бла', autor: 'Толстой Л.В' },
        { id: 4, title: 'Роман', description: 'бла блаsdfsdfsdfwefwefewsdfsdffsdfsdwqeqwssdfsf бла', autor: 'Толстой Л.В' }
      ]
    }
  },
  methods: {
  },
  created: function () {
  }
}

</script>
<style scoped>
#cardimg {
  border-radius: 15px;
}
#textcard{
  width: 505px; 
  border-radius: 15px; 
  padding: 15px;
}
#infoblock{
  text-align: center;
}
#cardimg1{
  background-size: cover; 
  border-radius: 15px;
}

</style>
