<template>
  <div class="about">
    <div class="">

    <h1 class="display-4">Мероприятия</h1>
</div>
    <div class="container">
    <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
Матч Звезд<span class="badge badge-secondary ml-2">New</span></a>
      <a class="list-group-item list-group-item-action" id="list-megaphone-list" data-toggle="list" href="#list-megaphone" role="tab" aria-controls="megaphone">Лыжные гонки в зачет 13 Универсиады ЮГУ</a>
      <a class="list-group-item list-group-item-action" id="list-troeb-list" data-toggle="list" href="#list-troeb" role="tab" aria-controls="troeb">ЮГУ Троеборье</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Все на хоккей</a>
      
    </div>
  </div>
  <div class="col-7 ">

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <div class="card shadow" style="width: 18rem;">
          <img src="../assets/mer4.jpg" class="card-img-top" alt="Победа">
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Матч Звезд</h5>
            <p class="card-text">Главное событие этой весны!
Лучшие игроки Любительской баскетбольной лиги "VITA" соберутся вместе, чтобы всем показать настоящее баскетбольной шоу!
Заряжающие конкурсы для игроков и болельщиков матча!
Призы от наших партнеров!
Настоящие непередаваемые эмоции, на протяжении всей игры!
Зажигательное выступление GoggyMan, Vall и Сани!
Все это мы советуем тебе не пропускать</p>
            <p class="card-text"><small class="text-muted">25 мая 2019 года в: 15:00</small></p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="list-megaphone" role="tabpanel" aria-labelledby="list-megaphone-list">
        <div class="card shadow" style="width: 18rem;">
          <img src="../assets/mer5.jpg" class="card-img-top" alt="Спорт Мегафон">
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Лыжные гонки в зачет 13 Универсиады ЮГУ</h5>
            <p class="card-text">Если ты готов показать всю свою спортивную мощь, а т
              акже доказать с помощью своей команды, что именно вы лу
              чшие, скорее пиши своему физоргу, оставляй заявку, приходи на соревнования и приводи с собой своих друзей</p>
            <p class="card-text"><small class="text-muted">23 марта 2019 в 14:00 </small></p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade " id="list-troeb" role="tabpanel" aria-labelledby="list-troeb-list">
        <div class="card shadow" style="width: 18rem;">
          <img src="../assets/mer3.jpg" class="card-img-top" alt="Спорт Мегафон">
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">ЮГУ Троеборье</h5>
            <p class="card-text">23 ноября, в 10:00, в малом многофункциональном спортивном зале СК "ЮГУ" пройдут соревнования по троеборью в 
              зачёт XIII Универсиады Югорского государственного университета, в которых примут участие команды разных институтов.</p>
            <p class="card-text"><small class="text-muted">23 ноября в 10:00</small></p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade " id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
        <div class="card shadow" style="width: 18rem;">
          <img src="../assets/mer6.jpg" class="card-img-top" alt="Все на хоккей">
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Все на хоккей</h5>
            <p class="card-text">В эти выходные хоккейная команда Югорского государственного университета встретиться с новосибирским «Урожаем» НГАУ
Приходи поддержать «Север» с трибун Ледового дворца спорта</p>
            <p class="card-text"><small class="text-muted">23 ноября в 16:15</small></p>
          </div>
        </div>
      </div>

      </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>

export default {
  data () {
    return {
      
    }
  },

}
</script>
<style scoped>
.container {
  border-radius: 15px;
  min-height: 400px;
}
img {
  widows: 300px;
  height: 200px;
}
</style>