<template>
  <div>
      <div class="container">
        <h1 class="display-4">Регистрация</h1>
        <form action="/action_page.php" class="was-validated">
          <div class="row">
            <div class="form-group col">
            <label for="firstname">Имя</label>
            <input type="text" class="form-control" id="firstname" placeholder="Например: Василий" name="firstname" required>
            <div class="valid-feedback">Всё, верно</div>
            <div class="invalid-feedback">Пожалуйста, заполните поле: Имя</div>
            </div>
            <div class="form-group col">
              <label for="secondname">Фамилия</label>
              <input type="text" class="form-control" id="secondname" placeholder="Например: Пупкин:" name="secondname" required>
              <div class="valid-feedback">Всё, верно</div>
            <div class="invalid-feedback">Пожалуйста, заполните поле: Фамилия</div>
            </div>
          </div>
          <div class="form-group">
            <label for="uname">Логин</label>
            <input type="text" class="form-control" id="uname" placeholder="Username:" name="uname" required>
            <div class="valid-feedback">Всё, верно</div>
            <div class="invalid-feedback">Пожалуйста, заполните поле: login</div>
          </div>
          <div class="form-group">
            <label for="pwd">Пароль</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            <div class="valid-feedback">Всё, верно</div>
            <div class="invalid-feedback">Пожалуйста, заполните поле: password</div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required> Я согласен на обработку данных
              <div class="valid-feedback">Всё, верно</div>
              <div class="invalid-feedback">Check this checkbox to continue.</div>
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      source: String,
    },
  }
</script>