<template>
  <div id="app">
      <div id="nav">
        <a href="#" class="FitChallenger">Fitness Challenger</a>
        <ul class="nav justify-content-end">
            
            <li class="late" v-for="link in LinkMenu" :key="link.title">
              <router-link :to="`${link.url}`" >{{ link.title }}</router-link>
            </li>
            <a href="#" class="Profile"><img src="img/avatar.png" alt="" srcset=""></a>
        </ul>
        <hr>
      </div >
        <div id="carus" class="shadow">
        <div class="container">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <div id="car" class="carousel-inner">
              <div class="carousel-item active" data-interval="1000">
                <img src="../src/assets/info2.png" style="height: 300px; width: 300px;" alt="Chicago"  >
                <img src="../src/assets/info2.png" style="height: 300px; width: 300px;" alt="Chicago"  >
                <img src="../src/assets/info2.png" style="height: 300px; width: 300px;" alt="Chicago"  >
                <div class="carousel-caption">
                </div>   
              </div>
              <div  id="car" class="carousel-item" data-interval="1000">
                <img src="../src/assets/info1.png" alt="Спорт" style="height: 300px; width: 300px;" >
                <img src="../src/assets/info3.png" alt="Браслет" style="height: 250px; width: 250px;" >
                <img src="../src/assets/info2.png" alt="Купоны" style="height: 300px; width: 300px;" >
                <div class="carousel-caption">
                  <h1 class="lead">Cпорт + Браслет = Купоны</h1>
                </div>   
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" aria-hidden="false" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" aria-hidden="false" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
    <div class="content">
      <div class="container">
        <router-view/>
      </div>
    </div>
    <Footer/>
  </div>
</template>
<script>
// @ is an alias to /src


export default {
  data() {
    return {
      item: null,
      LinkMenu: [
        { title: 'Главное', url: '/' },
        { title: 'Задания', url: '/About' },
        { title: 'Мероприятия', url: '/Posts' },
        { title: 'Регистрация', url: '/Registration' }

      ]
    }
  },

}
</script>
<style>
.content{
  min-height: 1000px;
}
#nav {
  padding: 20px;
}

#nav a {
  /* font-weight: bold; */
  padding-left: 15px;
  color: #2c3e50;
  float: left;
  margin-left: 30px;
}

#nav a.router-link-exact-active {
  color: #2bd11c;
}
a:hover {
  text-decoration: none;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body{
    padding: 0;
    margin: 0;
}
.back{
    background: url(../img/back.png) no-repeat;
    width: 100%;
    height: 1750px;
    position: absolute;
    z-index: -1;
    margin-top: -500px;
    transform: scale(-1, 1);
    margin-left: 0px;
}
.header{
    background-color: #00adf9;
    width: 100%;
    height: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}
.header a.FitChallenger{
    font-size: 24px;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
    float: left;
    margin-top: 11px;
}
.header a.MainHref{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    margin-left: 380px;
    float: left;
    margin-top: 15px;
}
.header a.TraidHref, a.IventHref{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    margin-left: 41px;
    float: left;
    margin-top: 15px;
}
.header a.Balance{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    margin-right: 100px;
    float: right;
    margin-top: 15px;
}
.header a.Profile{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    float: right;
    margin-top: 10px;
}
.zadania{
    width: 1166px;
    height: 335px;
    background-color: #fff;
    border: 3px #00439e solid;
    margin-left: 165px;
    margin-top: 80px;
    border-radius: 15px;
}
.zagolovok{
    width: calc(100% + 4px);
    height: 70px;
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    border: 3px solid #00439e;
    margin-top: -3px;
    margin-left: -2px;
}
.zagolovok p{
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}
.zadanie{
    width: calc(100% + 4px);
    height: 70px;
    border-radius: 0 0 0 0;
    background-color: #fff;
    border: 3px solid #00439e;
    margin-top: -3px;
    margin-left: -2px;
}
.dif{
    width: 226px;
    height: 70px;
    background-color: #fff;
    border: 3px solid #00439e;
    border-radius: 15px 0 0 0;
    margin-top: -3px;
    margin-left: -3px;
    float: left;
}
.difico{
    width: 226px;
    height: 70px;
    background-color: #fff;
    border: 3px solid #00439e;
    border-radius: 0 0 0 0;
    margin-top: -3px;
    margin-left: -3px;
    float: left;
}
.difico img{
    margin-left: 15px;
    margin-top: 8px;
}
.opisanie{
    width: 752px;
    height: 70px;
    background-color: #fff;
    border: 3px solid #00439e;
    border-radius: 0 0 0 0;
    margin-top: -3px;
    margin-left: -3px;
    float: left;
}
.opisanie p{
    margin-left: 20px;
    margin-top: 10px;
}
.nagrada{
    width: 189px;
    height: 70px;
    background-color: #fff;
    border: 3px solid #00439e;
    border-radius: 0 15px 0 0;
    margin-top: -3px;
    margin-left: -3px;
    float: right;
}
.nagrada1{
    width: 189px;
    height: 70px;
    background-color: #fff;
    border: 3px solid #00439e;
    border-radius: 0 0 0 0;
    margin-top: -3px;
    margin-left: -1px;
    float: left;
}
.nagrada1 p{
    margin-left: 15px;
    margin-top: 5px;
}
.zdania{
    width: 230px;
    height: 170px;
    background-color: #fff;
    border: 3px solid #00439e;
    border-radius: 15px;
    float: left;
    margin-top: 30px;
    margin-left: 115px;
}
.zdania p{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}
#car{
  text-align: center;
}
#carus{
    background: #1b1b1b;
}
hr{
      border: none; /* Убираем границу для браузера Firefox */
    color: #2bd11c; /* Цвет линии для остальных браузеров */
    background-color:  #2bd11c;
    height: 2px; /* Толщина линии */
}
</style>